.chat-bubble-wrap {
  display: flex;
  color: white;
  align-items: center;
  margin-top: 30px;

}

.chat-bubble {
  background: #007bff;
  color: white;
  width: fit-content;
  padding-top: 16px;  
  padding-bottom: 16px;
  border-radius: 500px;
  padding-left: 40px;
  padding-right: 40px;
}


.time {
  margin-left: 25px;
  margin-right: 25px;
}

.details {
  max-height: 0px;
  background: #2a313a;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  color: #dadada;
  overflow-y: scroll;
 

  .details-wrap {
    padding: 20px;
  }

  &:empty{
    display: none;
  }
}

.details-expand {
  max-height: 170px;
}

.details-collapse {
  max-height: 0px;
}

.details-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}

.details-row-right {
  display: flex;
}


.chat-content-wrap {
  background: pink;
  display: flex;
  flex-direction: column;
}
