.chat-bubble-wrap {
  display: flex;
  color: white;
  align-items: center;
  margin-bottom: 30px;
}

.chat-bubble {
  background: #007bff;
  color: white;
  width: fit-content;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 500px;
  padding-left: 40px;
  padding-right: 40px;
}

.time {
  margin-left: 25px;
  margin-right: 25px;
}

.details {
  max-height: 0px;
  background: #2a313a;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  color: #dadada;

  .details-wrap {
    padding: 20px;
  }
}

.details-expand {
  animation: details-fade-in 0.3s linear forwards;
}

.details-collapse {
  animation: details-fade-out 0.3s linear forwards;
}

@keyframes details-fade-in {
  0% {
    max-height: 0px;
  }

  100% {
    max-height: 170px;
  }
}

@keyframes details-fade-out {
  0% {
    max-height: 170px;
  }

  100% {
    max-height: 0px;
  }
}
