.chat-bubble-wrap {
  display: flex;
  color: white;
  align-items: center;
  margin-top: 30px;


}

.chat-bubble {
  background: #007bff;
  color: white;
  width: fit-content;
  min-height: 59px;
  border-radius: 500px;
  padding-left: 11px;
  padding-right: 40px;
  display: flex; 
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;  
}



.avatar {
  margin-right: 10px;
  align-self: flex-start;
}

.time {
  margin-left: 25px;
  margin-right: 25px;
  font-weight: bold;
  font-size: 13px;
}

.show-hide {
  color: #007bff;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    color: #003e80;
  }
}

.details {
  max-height: 0px;
  background: #2a313a;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  color: #dadada;
  overflow-y: scroll;

  .details-wrap {
    padding: 20px;
  }

  &:empty {
    display: none;
  }
}

.details-expand {
  max-height: 170px;
}

.details-collapse {
  max-height: 0px;
}

.details-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}

.details-row-right {
  display: flex;
}

.chat-content-wrap {
  background: pink;
  display: flex;
  flex-direction: column;
}
