.Log {
  width: 100%;
  background: #08101a;
  border-radius: 40px;
  border: dashed 1px #374250;
  margin-bottom: 54px;
  transition: 0.5s ease-in-out;

  animation: open 3s linear forwards;

  h2 {
    color: white;
   
  }

  .log-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
}

.content {
  animation: fade-in 1s forwards;
  opacity: 0;
  visibility: hidden;
  padding: 50px;
}

.chat-bubble-container {
  display: flex;
  flex-direction: column-reverse;
}

@keyframes open {
  0% {
    opacity: 0;
    max-height: 0;
  }

  100% {
    opacity: 1;
    max-height: 5000px;
  }
}

@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

.heading-light {
  font-weight: 100;
}

.show-hide {
  color: #007bff;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    color: #003e80;
  }
}

.details {
  max-height: 0px;
  background: #2a313a;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  color: #dadada;
  overflow-y: scroll;
  font-size: 15px;
  color: #bdbdbd;
  margin-bottom: 20px;


  .details-wrap {
    padding: 20px;
  }

  &:empty {
    display: none;
  }
}

.details-expand {
  max-height: 170px;
}

.details-collapse {
  max-height: 0px;
}

.details-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}

.details-row-right {
  display: flex;
}