.Log {
  width: 100%;
  background: #08101a;
  border-radius: 40px;
  border: dashed 1px #374250;
  margin-bottom: 54px;
  transition: 0.5s ease-in-out;

  animation: open 3s linear forwards;

  h2 {
    color: white;
    margin-bottom: 20px;
  }

  .log-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.content {
  animation: fade-in 1s forwards;
  opacity: 0;
  visibility: hidden;
  padding: 50px;
}

.chat-bubble-container {
  display: flex;
  flex-direction: column-reverse;
}

@keyframes open {
  0% {
    opacity: 0;
    max-height: 0;
  }

  100% {
    opacity: 1;
    max-height: 5000px;
  }
}

@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

.heading-light {
  font-weight: 100;
}

.show-hide {
  color: #007bff;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    color: #003e80;
  }
}

