.ProgressLevel {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14.2857142857%;
  z-index: 2;
}

.progress-level-container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 45px;
  position: sticky;
}

.progress-bar {
  width: 20%;
  position: absolute;
  height: 4px;
  top: 35%;
}

.icon-container {
  height: 78px;
  width: 78px;
  border-radius: 100%;
  background: #0d141c;
  transition: 0.3s ease-in-out;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

}


