.Step {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14.2857142857%;
  z-index: 2;
  font-size: 12px;

  .heading{
    margin-bottom: 5px;
  }
}

.step-container {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  position: sticky;
  top: 0;
  z-index: 5;
  background: #181e27;
 
}

.progress-bar {
  width: 20%;
  position: absolute;
  height: 4px;
  top: 35%;
}

.icon-container {
  height: 78px;
  width: 78px;
  border-radius: 100%;
  background: #0d141c;
  transition: 0.3s ease-in-out;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
